.chart {
  &__wrapper {
    @extend %unselectable;
    padding: 1.2rem;
    padding-bottom: 3rem;
    background: $light-grey;
    resize: both;
    overflow: hidden;
  }

  &_default &__wrapper {
    min-width: 600px;
    min-height: 400px;
    width: 600px;
    height: 300px;
  }

  &_preview &__wrapper {
    resize: none;
    min-width: 531px;
    min-height: 143px;
    width: 425px;
    height: 125px;
    padding: 0;
  }

  &_big-preview &__wrapper {
    resize: none;
    width: 87vw;
    height: 150px;
    padding: 0;
  }

  &_big &__wrapper {
    min-width: 80vw;
    min-height: 600px;
    width: 80vw;
    height: 600px;
  }

  &_small &__wrapper {
    min-width: 280px;
    min-height: 200px;
    width: 280px;
    height: 200px;
    padding: 0;
    resize: none;
    background: white;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.3rem;

    &__icon {
      margin-left: 0.5rem;
    }
  }
}
