.keyboard {
  width: 23rem;
  margin: auto;

  &__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__input-container {
    text-align: center;
  }

  &__input {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.3rem 0.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 8rem;
  }

  &__button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__button {
    margin: 0;
    padding: 0;
    border: none;
    width: 5rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: #f4f4f4;
    cursor: pointer;
    outline: none;

    &:hover {
      background: darken($light-grey, 10%);
    }
  }
}
