.cancel-modal {
  &__generic {
    display: flex;
    padding: 2rem;
    text-align: center;
  }

  &__audio {
    text-align: center;
  }

  &__button {
    display: inline-block;
    margin-right: 1rem;
  }
}
