.form {
  &__status {
    &_error {
      text-align: center;
      font-weight: bold;
      color: $red;
      margin: 1rem 0;
    }
  }

  &__header {
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
  }

  &__footer {
    padding: 0.5rem;
    padding-right: 0;
    text-align: right;
  }
}
