html,
body {
  background: $white;
  color: $black;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 120rem;
  min-width: 20rem;
  margin: auto;
}

.container {
}

.app {
  display: flex;

  &__content {
    padding: 2rem;
    width: 100%;
  }
}
